<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <%- include("dashboard/head.ejs") %>
  <body>
    <%- include("buttonToggleTheme.ejs") %> <%- include("dashboard/header.ejs")
    %>

    <div class="container-fluid">
      <div class="row">
        <%- include("dashboard/sidebar.ejs") %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0 dropdown">
              <!-- <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Share
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Export
                </button>
              </div> -->
              <!-- <button
                type="button"
                class="btn btn-sm btn-outline-secondary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span data-feather="calendar" class="align-text-bottom"></span>
                Cities
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/index?city=">All</a></li>
                
                <% cities.forEach((city) => { %>

                <li><a class="dropdown-item" href="/index?city=<%= city.city.toLowerCase().replaceAll(" ", "_") %>" ><%= city.city %></a></li>
                <% }); %>
              </ul> -->
              <button
                id="btnCiudad"
                class="btn btn-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                
              </button>
              <div class="dropdown-menu">
                <% cities.forEach((city) => { %>
                  <!-- <a class="dropdown-item" href="#" data-value="ciudad1">Ciudad 1</a> -->
                  <a class="dropdown-item" href="/index?city=<%= city.city.toLowerCase().replaceAll(' ', '_') %>" data-value="<%= city.city.toLowerCase().replaceAll(' ', '_') %>"><%= city.city %></a></li>
                  <% }); %>

                
              </div>
            </div>
          </div>

          <h2>Movies</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <!-- <th scope="col">Image</th> -->
                  <th scope="col">Title</th>
                  <th scope="col">Synopsis</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Release date</th>
                  <th scope="col">Categories</th>
                </tr>
              </thead>
              <tbody>
                <% movies.forEach((movie, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <!-- <td>
                    <img src="<%= movie.image %>" crossorigin="anonymous" />
                  </td> -->
                  <td><%= movie.title %></td>
                  <td><%= movie.synopsis %></td>
                  <td><%= movie.duration %></td>
                  <td>
                    <%= new Date(movie.releaseDate).toLocaleDateString() %>
                  </td>
                  <td><%= movie.categories %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      // Obtener elementos del DOM
      const btnCiudad = document.querySelector("#btnCiudad");
      const dropdownItems = document.querySelectorAll(".dropdown-item");

      // Ciudad por defecto
      let ciudadSeleccionada = "Ciudad por defecto";

      // Actualizar texto del botón con la ciudad seleccionada
      function actualizarBotonCiudad(ciudad) {
        btnCiudad.textContent = ciudad;
      }

      // Actualizar la variable ciudadSeleccionada cuando se seleccione una ciudad del dropdown
      dropdownItems.forEach((item) => {
        item.addEventListener("click", () => {
          ciudadSeleccionada = item.textContent;
          actualizarBotonCiudad(ciudadSeleccionada);
        });
      });

      // Mostrar y ocultar el dropdown al hacer clic en el botón
      // btnCiudad.addEventListener("click", () => {
      //   document.querySelector(".dropdown-menu").classList.toggle("show");
      // });

      // Ocultar el dropdown cuando se hace clic fuera de él
      // window.addEventListener("click", (event) => {
      //   if (!event.target.matches(".dropdown")) {
      //     document.querySelector(".dropdown-menu").classList.remove("show");
      //   }
      // });

      // Inicializar el botón con la ciudad por defecto
      actualizarBotonCiudad(ciudadSeleccionada);
    </script>
  </body>
</html>
