<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <%- include("head.ejs") %>
  <body>
    <%- include("buttonToggleTheme.ejs") %> <%- include("header.ejs") %>

    <div class="container-fluid">
      <div class="row">
        
        <%- include("sidebar.ejs") %>
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Movies by city</h1>
            <div class="btn-toolbar mb-2 mb-md-0 dropdown">
              <button
                id="btnCiudad"
                class="btn btn-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              <%= filterCityBtn.city %>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/index?city=all">All</a></li>
                <% cities.forEach((city) => { %>
                  <a class="dropdown-item" href="/index?city=<%= city._id %>" data-value="<%= city.city.toLowerCase().replaceAll(' ', '_') %>"><%= city.city %></a></li>
                <% }); %>                
              </div>
            </div>
          </div>

          <h2><%= filterCityBtn.city %></h2>

          <div class="album py-5 bg-body-tertiary">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <% movies.forEach((movie, index) => { %>
                
                  <div class="col">
                    <div class="card shadow-sm">
                      <img src="https://unsplash.com/pt-br/fotografias/4dLSGPVDuZg" crossorigin="anonymous" />
                      <div class="card-body">
                        <p class="card-text"><strong><%= movie.title %></strong> </p>
                        <p class="card-text"><%= movie.synopsis %> </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                          </div>
                          <small class="text-body-secondary">duration: <%= movie.duration %>'</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }); %>
                </div>
        
            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
